.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
tr:last-child td {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  text-align: center;
  padding:10px;
}

table {
  margin: 20px auto;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


td {
  width: 60px;
  height: 60px;
  font-size: 24px;
  position: relative;
  vertical-align: top;
  padding:10px;
}

.static-data {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  font-size: 12px;
}
.table-container {
  overflow-x: auto;
  padding:10px;
}


@media screen and (max-width: 600px) {
  td {
    padding: 5px;
    font-size: 12px;
width: 25px;
  height: 30px;
  }
table {
  width: 98%;
  border-collapse: collapse;
padding:2px;
}
  .table-container {
  padding:10px;
}
.static-data {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 2px;
  left: 2px;
  right: 2px;
  font-size: 9px;
}
}
